#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* colour */
#root, #SideBar, #BottomBar, #MainSection {
  @apply bg-slate-600;
}

#RenderingSection {
  @apply bg-slate-50 shadow-lg rounded-t-none rounded-r-none;
}

section {
  @apply rounded-md;
}

/* elements have padding */
#SideBar, #BottomBar, #RenderingSection {
  @apply p-4;
}

/* links */
a {
  @apply m-8 p-2 rounded-xl transition duration-200;
  @apply bg-slate-700 dark:bg-slate-300;
}

a:hover {
  @apply bg-slate-300 dark:bg-slate-700;
}

